.box {
    position: relative;
    border: 1px solid #80808057;
    margin-bottom: 3px;
}

.box_chosen {
    position: relative;
    border: 5px solid #0657eea2;
    margin-bottom: 3px;
}

.curse {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.box::before {
    content: '';
    position: absolute;
    border: 18px solid transparent;
    left: -19px;
    top: -19px;
    -webkit-transform: rotate(-225deg);
}

.box::after {
    content: attr(level);
    position: absolute;
    right: 7px;
    top: 2px;
    font-size: 12px;
    font-weight: bold;
}

.under_curse {
    text-align: center;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 10px;
}

.go_to {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: gray;
    padding: 2px;
}

.box_yellow::before {
    border-top-color:yellow;
}

.box_yellow::after {
    color: yellow;
}

.box_orange::before {
    border-top-color: orange;
}

.box_orange::after {
    color: orange;
}

.box_red::before {
    border-top-color: red;
}

.box_red::after {
    color: red;
}

.box:hover {
    background-color: oldlace;
    cursor: pointer;
}